# EditorConfig is awesome: http://EditorConfig.org
# プロジェクトのルートフォルダかどうかの設定。これを書いていない場合、親階層の .editorconfig ファイルも順に辿る
root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = false

[*.md]
insert_final_newline = true

[*.php]
insert_final_newline = true

[{package.json,*.yml}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
